html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: overlay;
}

body {
  transition: background-color 400ms;
}

body[data-theme="light"] {
  background-color: white;
  color: black;
  --textcolor: black;
  --backcolor: white;
}
body[data-theme="dark"] {
  background-color: rgb(24, 24, 31);
  color: rgb(238, 238, 238);
  --textcolor: rgb(238, 238, 238)
  --backcolor: rgb(24, 24, 31)
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
} */

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}